.DS_Store
.idea/
.vscode/

# зависимости
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
.pnp.*

# сборка Next
.next/
out/
next-env.d.ts
*.tsbuildinfo

# локальные переменные окружения
.env*.local
